
/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
/**
 * break points
 */
 /* -------------------------------------------------------------- 
    Extra small devices (phones, less than 768px)
    No media query since this is the default in Bootstrap
 -------------------------------------------------------------- */
 /*
 .main{ 
   > .container-fluid{
        background-color: $body-bg;
      }
    }
  .sidebar{width: 100%;background-color: $white;}
  */
 /* -------------------------------------------------------------- 
 Small devices (tablets, 768px and up) 
 -------------------------------------------------------------- */

 @media (min-width:768px) {  
 	
 }
 
 /* -------------------------------------------------------------- 
 Medium devices (desktops, 992px and up)
 -------------------------------------------------------------- */
 @media (min-width:992px) {  
 	
 }
 
 /* -------------------------------------------------------------- 
 Large devices (large desktops, 1200px and up)
 -------------------------------------------------------------- */
@media (min-width:1200px) { 

}

body{ background-color: $body-bg; }

.panel {
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.25);
    -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,.25);
    box-shadow: 0 0 20px 0 rgba(0,0,0,.25);
    text-align: left;
    border: none;
    margin: 0px;
    padding: 20px;
    
    @media (min-width: $screen-xs-max) { 
     padding: 60px;
    }
    
    border: solid 1px  #d6d4d4
}

.skip-link {
  @extend %visually-hidden;
}
section{ 
  padding: 50px 0px; 
  margin: 0px; 
  width: 100%;
  border-bottom: 1px solid #d6d4d4;
}
.site-header{
  background-color: #fff;
  //da2128
  border-bottom: 5px solid #da2128;
  height: 100px;
  width: 100%;
}
.brand{
  background-color: #e0dfe0 !important;
}
.dealer{
  background-color: #ecf0f1 !important;
}
.program {
  background-color:  #e0dfe0;
}
.complete{
  background-color: #da2128;
}
.img-wrap{
  width: 100%;
  padding: 0px;
  margin:  20px 0px;
}
.pad{
  padding-top: 25px;
  padding-bottom: 25px;
}
.pad-sm{
  padding-top: 20px;
  padding-bottom: 20px;
}

.pad-xs{
  padding-top: 25px;
  padding-bottom: 25px;
}
    
.center{
  text-align: center;
}

.btn{
    background: $brand-primary !important;
    color: #ffffff !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    text-shadow:  none !important;
    border:  none !important;
    font-size: 14px !important;
}


/* Grid */

#posts { margin: 30px auto 0; }

.post {

	margin: 0 0 25px;
	text-align: center;
	width: 100%;
	max-width: 250px;
  
  .well{
    background-color: $white;
    padding: 0px;
    border: 1px solid #000 !important;
    
    .image{
      padding: 15px;
      height: 150px;
      width: 100%;
      line-height: 120px;
      display: inline-block;
      vertical-align: middle;
      float: none;
      img{
        max-height: 120px;
      }
    }
    
    .foot{
      border-top: solid 2px $brand-primary !important;
      height: 150px;
      background-color:  #a6a6a6 !important;
      padding: 15px !important;
      text-align: left;
      h5,
      p{ 
        color: #000;
        text-align: left;
        font-size: 16px;
      }
    }
  }
}

.post.active .well,
.post:hover .well{
  background-color: #eee !important; 
  color: #fff !important;
  h5, p, b{
    color: #fff !important;
  }
  .foot{
    background-color: $brand-primary !important; 
    
  }
  .btn.btn-primary{
      background-color:  #fff !important;
      color: $brand-primary !important; 
    &:hover{
      background-color:  #eee !important;
      color: $brand-primary !important; 
    }
  }
}

 
/* Medium devices */

@media (min-width: 768px) {
	#grid > #posts .post { width: 45%; }
}


/* Medium devices */

@media (min-width: 992px) {
	#grid > #posts .post { width: 31%; }
}


/* Large devices */

@media (min-width: 1200px) {
	#grid > #posts .post{ width: 22% !important; }
}


/* Large devices min-width (1200px) + a .post margin (50px) * 2 (100px) = 1300px */
/* 1300px gives me the clearance I need to keep the margins of the entire #grid (the
bleed if you will) the same width as the .post margins posts (50px). Basically I'm
being really picky about whitespace. If you don't care, no problem, just delete this.
Can this be done with Masonry options? */

@media (min-width: 1300px) {
	#grid {
		left: -50px;
		padding-left: 50px;
		padding-right: 50px;
		position: relative;
    	}
	#grid.container {
		left: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
}
  
