/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
/**
 * Global font improvements
 
 
 font-family: 'Knockout 26 A', 'Knockout 26 B'; font-weight: 400; font-style: normal;
 font-family: 'Knockout 52 A', 'Knockout 52 B'; font-weight: 400; font-style: normal;
 */

body {
  font-family: $font-family-base;
}

input {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/**
 * Text-selection styles
 */
::-moz-selection {
  color: $white;
  text-shadow: none;
  background-color: rgba($brand-primary, 0.6);
}

::selection {
  color: $white;
  text-shadow: none;
  background-color: rgba($brand-primary, 0.6);
}


/**
 * Form input placeholder styles
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.6;
}

:-moz-placeholder { /* Firefox 18- */
  color: inherit;
  opacity: 0.6;
}

::-moz-placeholder { /* Firefox 19+ */
  color: inherit;
  opacity: 0.6;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 0.6;
}


/**
 * Base heading styles
 */
%hN {
  margin-top: 0;
  margin-bottom: $line-height-base;
  font-family: $font-heading;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight:  normal !important;
  line-height: 1.26;
  text-rendering: optimizeLegibility;

  a {
    color: inherit;
  }
}

.post__title {
  display: inline-block;
  font-size: 2.3125em;
}
 
h1,
h1 > b,
h1 > strong{
  font-family: $font-family-base;
  letter-spacing: 0px;
  font-size: 8px;
  margin: 25px 0px;
  color: $brand-primary;
  text-transform: uppercase;
  line-height: 1;
  @media (min-width: $screen-xs-max) { 
    font-size: $font-size-h1;
  }
}

h2,
h2 > b,
h2 > strong{
  font-family: $font-family-base;
  font-size: $font-size-h2;
  @media (min-width: $screen-sm-min) { font-size: 30px; }
  margin: 0px;
  text-align: center;
  line-height: 1.2;
  color: #000;
  font-weight: 400;
  font-style: normal;
}


h3,
h3 > b,
h3 > strong{ 
  font-family: $font-heading;
  font-size: $font-size-h3;
  text-transform: uppercase;
  font-weight:  normal !important;
  line-height: 1.3;
  margin: 12px 0px;
  color: #535252;
}
h4,
h4 > b,
h4 > strong{ 
  font-family: $font-family-base;
  font-size: $font-size-h4;
  text-transform: uppercase;
  font-weight:  normal !important;
  line-height: 1.5;
  margin: 12px 0px;
  color: $brand-primary;
}
h4 a{
  text-decoration: underline;
}
h4 a:hover{
  color: #000;
  text-decoration: underline;
}
h5,
h5 > b,
h5 > strong{
  font-family: $font-heading;
  font-size: $font-size-h5;
  text-transform: uppercase;
  font-weight:  normal !important;
  line-height: 1.857;
  margin: 12px 0px;
}

h6,
h6 > b,
h6 > strong {
  font-family: $font-heading;
  font-size: $font-size-h6;
  text-transform: uppercase;
  font-weight:  normal !important;
  line-height: 2.429;
  margin: 12px 0px;
}

h6.category{
  color: #91bfcf;
  font-size: $font-size-h6;
  font-weight:  normal !important;
  font-family: $font-family-base;
  color: rgb(114, 188, 212);
  text-transform: uppercase;
  line-height: 1.857;
  text-align: left;

}
/**
 * Base paragraph styles
 */
body, label{
  font-weight:  normal !important;
  font-size: $font-size-base;
  font-family: $font-family-base;
  color: rgb(34, 34, 34);
  line-height: 1.8em;
}

label{ font-size: $font-family-base;}
.form-control{font-size: $font-family-base;   padding: 0px 12px; color: #000; font-weight: 400; 
  font-style: normal; }

p, li, td,  dl {
  font-size: 19px;
  font-family: $font-family-base;
  font-weight: 400; 
  font-style: normal;
  color: $text-color;
  line-height: 1.4em;
  margin: 15px 0;
  

  font-weight: 400;
  
}
p b,
p strong
li b,
li strong,
td b,
td strong{
 font-family: $font-family-base !important; 
 font-weight: 400; 
 font-style: normal;

}

p {
  margin-top: 0;
  margin-bottom: $line-height-base;
 
}
p a{
  color: #000;
  text-decoration: underline !important;
  &:hover{
    color: $brand-primary !important;
    text-decoration: underline !important;
  }
}

p.prize{
  font-family: $font-family-base;
  color: $brand-primary;
  font-size: 21px;
}
p.action{
  font-family: $font-family-base;
  color: $white;
  font-size: 21px;
}
p.legal{
  margin: 0px 0px;
  color: #666!important;
  font-size: 13px;
  line-height: 1.4;
  font-family: $font-family-base;
  margin-bottom: 20px;
  padding: 0px 20px;
}

/**
* Links
*/
a {
  
  text-decoration: $link-decoration;
  transition: all 0.15s $timing;
  color: $link-color;
  &:hover,
  &:focus,
  &:active {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    outline: none;
  }
}
 
/**
* Quotations
*/
blockquote {
  margin: 2em 2em;
  font-size: 1em;
  margin-bottom: $line-height-base;
  text-align: center;
  font-weight: normal;
  font-family: $font-heading;
  line-height: 1.5;
  border: none !important;
  > :last-child {
    margin-bottom: 0;
  }
}
 
/**
* Definition lists
*/
dl {
  margin-top: 0;
  margin-bottom: $line-height-base;

  > dt {
    font-weight: normal;
  }

  > dd {
    margin-bottom: $line-height-base / 2;
    margin-left: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

 
/**
* Base table styles
*/
table {
  margin-top: 0;
  width: 100%;
  margin-bottom: $line-height-base;
}

.center{ text-align: center;}

 