//
// nav bar
// --------------------------------------------------

.navbar-default{ 
  background-color:  #4c4d4f;
  margin: 0px;
  padding: 0px; 
  border-radius: 0px;
  text-align: center !important;
  width: 100%; 
}

//
// Side Navigation
// --------------------------------------------------


.side-nav{
	padding: $padding;
	font-size: $font-size-base;
	padding: 50px 35px 50px;
	
	h2{
  	color: #222222;
  	font-size: $font-size-base;
  	margin: 0 0 10px;
  }

	ul{ 
  	list-style: none;
  	margin: 0px;
  	padding: 0px;
  	
  	li{ 
    	margin: 0px 0px;
    	
    	a, a:visited{ 
      	text-transform:  uppercase;
      	padding: 10px 0px;
      	font-size: $font-size-base !important;
      	
      	font-family: 'UniversLTW01-57Condense_723821';
      	text-transform: uppercase;
      	line-height: 1.2em;
      	padding: 8px 0px;
      	color: #222222;
      	display: inline-block;
      	-webkit-transition: color 0.1s linear;
      	-o-transition: color 0.1s linear;
      	transition: color 0.1s linear;
      	
      }
      a:hover{
    		color: #70bcd4;
    	}
  	}
  }
}



//
// Main Nav
// --------------------------------------------------


ul.nav{
  text-align: center !important; 
  margin: 0px auto !important;
  
   li {
     color: #fff;
     display:inline-block;
     position:relative;
     margin: 0px 0px!important;
     width: inherit;
     
     a { 
        line-height: 60px;
        vertical-align:middle;
        color: #fff !important;
        display: block;
        width: inherit;
        text-transform: uppercase; 
        font-size: $font-size-medium;  
        font-family: $font-heading; 
        padding:0px 15px;
        margin: 0px 0px!important;
        border: none;
        -webkit-font-smoothing: antialiased; /* [5] */
        -moz-osx-font-smoothing: grayscale; /* [5] */
        -webkit-font-smoothing:  antialiased;
        
      }
      
      div.dropdown{
        position:absolute;
       
        margin: 0px !important;
        z-index: 100;
        left:-999em;
        background:#6fbcd5;
        width: auto;
        min-width: 700px;
        margin: 0px;
        padding: 50px 0px;
        @media (max-width: $screen-lg-min) {padding:10px 10px; max-width: 550px; min-width: 550px; }
        text-align: left;
        
         .col-1,  .col-2{ 
          padding: 0px $padding-small;  
          @media (max-width: $screen-lg-min) {padding:0px 0px; }
          float: left;  
          background:#6fbcd5;
          
           ul {
             padding: 0px 30px;
            @media (max-width: $screen-lg-min) {padding:20px; }
            li {
              list-style-type: none;
              list-style: none;
              margin: 0 !important;
              line-height: 0em;
              width: 100%;
              a{
                font-family: $font-family-base;
                font-family: $font-family-condense !important;
                font-size: $font-size-medium !important;
                color: #fff;
                text-transform: uppercase;
                padding: 0px 0px 20px;
                line-height: 1.8em;
                width: 100%;
              }
              a:hover{ 
                color: #000 !important;
              }
            }
            li:last-child a {
      				padding-bottom: 0px;
      			}
          }
        }
         .col-1{ 
           border-right:  2px #65adc5 solid;
          }
         .col-2{
        		border-left: 2px #65adc5 solid;
        		margin-left: -2px;
        	}

      } 
    }
    
    li.nav-right:hover > div{
			left: auto;
			top:auto;
			right: 0px;
		}

    li:hover{ 
      text-decoration:  none; 
      a{  
        background-color: #6fbcd5
      }
      div {
        left:0px;
        top:auto;
      }
    }
}

 
//
// Top Nav
// --------------------------------------------------
 

ul.secondary_nav{ 
  display: block;
  list-style: none;
  margin: 10px 0px 0px 0px;
  > li{    
    display:inline; position:relative;
    font-size: $font-size-base;
    > a{
      text-transform: uppercase;
      font-size: $font-size-base; 
      padding: 6px 10px; 

    }
    > a:hover{
      background-color: #eee;
    }
    
    > ul.sub-menu{
      width: 200px;
      left: -999em;
      position:absolute;
      z-index: 100;
      padding: 20px;
      background:#eeeeee;
      > li{
        display: block;
        float: none;
        font-size: $font-size-base;
        margin: 10px 0px;
        > a{
            font-size: $font-size-base;
            text-transform: uppercase; 
            padding: 10px 10px; 
          }
        > a:hover{ color: $brand-primary;}
      }
    } 
  }
  > li:hover ul.sub-menu{
    left:-122px;
    top:auto;
  }
}


//
// Mobile Slide Navigation
// --------------------------------------------------
 

/* General styles for all menus */
.cbp-spmenu {
	background: #fff;
	position: fixed;
}

 
/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 250px;
	height: 100%;
	top: 0;
	z-index: 1000;
	overflow: hidden;
  overflow-y: scroll;
}

  
/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -250px;
}

 .cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

  
/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 250px;
	overflow: hidden;
}

.cbp-spmenu-push-toleft {
	left: -250px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}

  
.mobile-menu-wrap {
  width: 100%;
  padding: 20px;
  background-color: #65adc5;
  
  .menu{
    margin: 0px;
    padding: 0px;
    
    li {
      width: 100%;
      position: relative;
      display: inline-block;
      margin: 0px;
      border-bottom: solid 1px #6fbcd5;
      color: #fff !important;
      
      a {
        padding: 20px 0px;
        margin: 0px; 
        color: #fff !important;
        font-size: 16px;
        text-transform: uppercase;
        display: block;
        font-family: $font-heading; 
      }
      
      a:before {
        width: 18px;
        float: left;
        font-size: 8px;
        content: '\25b6'; 
        -webkit-transition: all   ease-out 0.5s;
    -moz-transition: all  ease-out 0.5s;
    -o-transition: all  ease-out 0.5s;
    transition:all  ease-out 0.5s
      }
      a:hover{
        background-color:  #fff;
        color: #65adc5 !important;
      }
      a.expanded:before {
      font-size: 8px;
        content: '\25b6';
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
        transform: rotate(90deg);
      }
      
    }
    .sub-menu {
      position: inherit;
      width: 100%;
      padding: 0px 0px;
      margin: 0;
      text-align: left;
      
      li {
        display: block;
        margin: 0;
        line-height: 1em; 
        border: none;
        text-transform: uppercase;
        
        a {
          display: block;
          padding: 10px 0;
          margin:  0;
          font-size: $font-size-small;
          font-family: $font-family-base;
        }
        a:before{
          content: "";
        }
      }
      li:last-child {
        border: none; 
      }
    }    
  } 
}

