.logo{
  position: absolute;
  background: transparent;
  width: 100px;
  height: 100px;
  top: 25px;
  left: 45px;
}

#logo-top {
  background: url(../img/logo-top.png) no-repeat;
  -webkit-background-size: 100px auto;
  -moz-background-size: 100px auto;
  -ms-background-size: 100px auto;
  -o-background-size: 100px auto;
  background-size: 100px auto;
  background-position: center center;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: 0px 0px;
  display:inline-block;
  font-size: 0em;
  text-indent: -9999px;
}

#logo-mobile{
   background: url(../img/logo-top.png) no-repeat;
  -webkit-background-size: 55px auto;
  -moz-background-size: 55px auto;
  -ms-background-size: 55px auto;
  -o-background-size: 55px auto;
  background-size: 55px auto;
  background-position: center center;
  width: 55px;
  height: 55px;
  line-height: 55px;
  margin: 0px 0px;
  display:inline-block;
  font-size: 0em;
  text-indent: -9999px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
#logo {
  background: url(../img/logo-top@2x.png) no-repeat;
  }
}
