#crumbs{
    margin:0px; 
    @media (max-width: $screen-xs-max) { margin: 20px 20px 20px 20px; }
    text-align: center; 
    text-transform: uppercase;
    font-size: $font-size-small;
    font-weight:  normal !important;
    font-family: $font-family-base;
    color: #fff;
    text-transform: uppercase;
    font-family: $font-family-condense !important;
  a{
    font-size: 1;
    text-transform: uppercase;
    color: #fff;
 
  }
  a:hover{
    color:$brand-primary;
  }
}
 