ul.brands { 
  margin: 0px;
  padding: 0px;
    li{
      float: left;
      display: block;
      width: 15%;
      margin: 0px;
      padding: 0px;
      list-style: none;
      text-align: center;
        a{
          display: block;
          border-right: none;
          padding: 0px;
          margin: 0px;
          vertical-align: middle;
          text-align: center;
          cursor: hand !important;
          border: solid 1px #d6d4d4;
          background-color: #fff;
          &:hover{
            background-color: #d6d4d4;
          }
          
          img {
            width: 100%;
            max-width: 150px;
            height: auto;
            margin: 0px auto;
            vertical-align: middle;
            padding: 0px;
          }
        }
    }
   li.active{background-color: #b5b5b5 !important;  }
}



.steps-container {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  border-left: 2px solid;
  border-right: 2px solid;
  width: 100%;
  counter-reset: steps;
}
.steps {
  position: relative;
  display: inline-block;
  left: -28px; /* -2px default + 26px offset to hide skewed area on the left side of first element*/
  height: 50px;
  line-height: 50px;
  margin-left: 0px;
  margin-right: 0px;
  counter-increment: steps;
  cursor: pointer;
  transition: background 1s;
  min-height: 30px;
}

.steps:after,
.steps:before {
  position: absolute;
  content: '';
  left: 0px;
  height: 50%;
  width: 100%;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-left: 3px solid; /* thicker border as skew makes them look thin */
  border-right: 3px solid;
  background: rgba(168, 168, 168, 0.15);
}

.steps:before {
  transform: skew(45deg);
  top: 0px;
  border-bottom: none;
  transform-origin: top left;
}

.steps:after {
  transform: skew(-45deg);
  bottom: 0px;
  border-top: none;
  transform-origin: bottom left;
}

.steps span{
  display: block;
  padding-left: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 75%;
  vertical-align: middle;
}

.steps span:before{
  content: counter(steps) ". ";
}
.steps.active span{
  font-weight: bold;  
}
.steps.active:before,
.steps.active:after {
  background: rgba(245,26, 50, 0.5);
}



/*
.steps {
  display: block;
  margin-bottom: 20px;
  width: 100%; 
}

.steps ul {
  margin: 0;
  padding: 0;
  list-style: none;
  
  width: 100%; 
 
}

.steps li {
  display: inline-block;
  width: 25% !important;
  margin: 0;
  padding: 0;
  list-style: none;
}

.steps li a {
  display: block;
  padding: 15px 20px;
  color: #000;
  line-height: 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent url(../img/step.png) center right no-repeat;
  cursor: pointer !important;
  
  &:hover { 
   // background: transparent url(../img/step_over.png) center right no-repeat; 
    cursor: pointer !important;
  }
 

}

.steps li a strong{
  display: inline-block;
  background: #e5e5e5;
  padding: 2px 8px;
  margin-right: 2px;
}

.steps li a.active { 
    background: transparent url(../img/step_over.png) center right no-repeat !important; 
    color: #fff;
 }
 
 
.steps li.step-2, .steps li.step-3, .steps li.step-4 { 
   margin-left: -30px; 
}

.steps li.step, .steps li.step a {
  position: relative;
  z-index: 4;
}
 
.steps li.step-2, .steps li.step-2 a { z-index: 3;    }
.steps li.step-3, .steps li.step-3 a { z-index: 2; }
.steps li.step-4, .steps li.step-4 a { z-index: 1; }

.steps li.step-2 a, .steps li.step-3 a, .steps li.step-4 a {padding-left: 40px;}

.steps li.step-4 a { background-position: center left; }
.steps li.step-4 a:hover { background-position: center left; }
*/