.jm-progress{
  width: 30%;
  display: inline-block;
  background: #fff;
  position:relative;
}
.jm-progress .circle{
  display: inline-block;
  position: relative;
  text-align: left;
  background: #fff;
  width: 40px; height: 40px;
  border-radius: 40px;
  border: 1px solid #d5d5da;
  margin: 0;
  padding: 0;
  z-index: 10;
}
.jm-progress .circle .label {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  margin-left: 3px;
  color: #b5b5ba;
  font-size: 17px;
}

.jm-progress .bar {
  background: #fff;
  position: absolute;
  //display: none;
  top: 20px;
  width: 100%;
  height: 6px;
  z-index:  1;
  border-top: 1px dashed #d5d5da;
}

.jm-progress .title{
  color: #b5b5ba;
  display: none;
  font-size: 13px;
  line-height: 30px;
  margin-left: 0px;
}


/* Done / Active */
 
.jm-progress .circle.done,
.jm-progress .circle.active {
  background: #eee;
}
.jm-progress .circle.done .label {
  color: #FFF;
  background: #a6a6a6;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.jm-progress .circle.active .label {
  color: #FFF;
  background: $brand-primary;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}


.jm-progress.center{
  text-align: center;
}

.jm-progress.last{
  text-align: right;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
 /* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
.jm-progress .bar {
  
  display: block;
 
}

.jm-progress .title{
 
  display: block;
 
}

  
  
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
	
  
  
}
