/*
  @media(max-width:767px){}
  @media(min-width:768px){}
  @media(min-width:992px){}
  @media(min-width:1200px){}
*/

.hero-cover{
    background-image: url(../img/480/RVH_MicroSite_Cover_480.jpg);
  
    @media (min-width: $screen-xs-min) { background-image: url(../img/768/RVH_MicroSite_Cover.jpg);} 
    @media (min-width: $screen-sm-min) { background-image: url(../img/992/RVH_MicroSite_Cover.jpg);}
    @media (min-width: $screen-md-min) { background-image: url(../img/1200/RVH_MicroSite_Cover.jpg);}
    @media (min-width: $screen-lg-min) { background-image: url(../img/RVH_MicroSite_Cover.jpg);}
}

.hero-jelena{
  background-image: url(../img/480/RVH_MicroSiteLarge_Jelena_480.jpg);
  @media (min-width: $screen-xs-min) { background-image: url(../img/768/RVH_MicroSiteLarge_Jelena.jpg);} 
  @media (min-width: $screen-sm-min) { background-image: url(../img/992/RVH_MicroSiteLarge_Jelena.jpg);}
  @media (min-width: $screen-md-min) { background-image: url(../img/1200/RVH_MicroSiteLarge_Jelena.jpg);}
  @media (min-width: $screen-lg-min) { background-image: url(../img/RVH_MicroSiteLarge_Jelena.jpg);}
  
}

.hero-neville{
  background-image: url(../img/480/RVH_MicroSiteLarge_Neville_480.jpg);
  @media (min-width: $screen-xs-min) { background-image: url(../img/768/RVH_MicroSiteLarge_Neville.jpg);} 
  @media (min-width: $screen-sm-min) { background-image: url(../img/992/RVH_MicroSiteLarge_Neville.jpg);}
  @media (min-width: $screen-md-min) { background-image: url(../img/1200/RVH_MicroSiteLarge_Neville.jpg);}
  @media (min-width: $screen-lg-min) { background-image: url(../img/RVH_MicroSiteLarge_Neville.jpg);}
}
.hero-chantell{
  background-image: url(../img/480/RVH_MicroSiteLarge_Chantell_480.jpg);
  @media (min-width: $screen-xs-min) { background-image: url(../img/768/RVH_MicroSiteLarge_Chantell.jpg);} 
  @media (min-width: $screen-sm-min) { background-image: url(../img/992/RVH_MicroSiteLarge_Chantell.jpg);}
  @media (min-width: $screen-md-min) { background-image: url(../img/1200/RVH_MicroSiteLarge_Chantell.jpg);}
  @media (min-width: $screen-lg-min) { background-image: url(../img/RVH_MicroSiteLarge_Chantell.jpg);}
}

.hero-taylor{
  background-image: url(../img/480/RVH_MicroSiteLarge_Taylor_480.jpg);
  @media (min-width: $screen-xs-min) { background-image: url(../img/768/RVH_MicroSiteLarge_Taylor.jpg);} 
  @media (min-width: $screen-sm-min) { background-image: url(../img/992/RVH_MicroSiteLarge_Taylor.jpg);}
  @media (min-width: $screen-md-min) { background-image: url(../img/1200/RVH_MicroSiteLarge_Taylor.jpg);}
  @media (min-width: $screen-lg-min) { background-image: url(../img/RVH_MicroSiteLarge_Taylor.jpg);}
}

.hero-lance{
  background-image: url(../img/480/RVH_MicroSiteLarge_Lance_480.jpg);
  @media (min-width: $screen-xs-min) { background-image: url(../img/768/RVH_MicroSiteLarge_Lance.jpg);} 
  @media (min-width: $screen-sm-min) { background-image: url(../img/992/RVH_MicroSiteLarge_Lance.jpg);}
  @media (min-width: $screen-md-min) { background-image: url(../img/1200/RVH_MicroSiteLarge_Lance.jpg);}
  @media (min-width: $screen-lg-min) { background-image: url(../img/RVH_MicroSiteLarge_Lance.jpg);}
}

.hero-dianne{
  background-image: url(../img/480/RVH_Microsite_Large_Header-Recovered_480.jpg);
  @media (min-width: $screen-xs-min) { background-image: url(../img/768/RVH_Microsite_Large_Header-Recovered.jpg);} 
  @media (min-width: $screen-sm-min) { background-image: url(../img/992/RVH_Microsite_Large_Header-Recovered.jpg);}
  @media (min-width: $screen-md-min) { background-image: url(../img/1200/RVH_Microsite_Large_Header-Recovered.jpg);}
  @media (min-width: $screen-lg-min) { background-image: url(../img/RVH_Microsite_Large_Header-Recovered.jpg);}
}

.hero-cody{
  background-image: url(../img/480/RVH_MicroSiteLarge_Cody_480.jpg);
  @media (min-width: $screen-xs-min) { background-image: url(../img/768/RVH_MicroSiteLarge_Cody.jpg);} 
  @media (min-width: $screen-sm-min) { background-image: url(../img/992/RVH_MicroSiteLarge_Cody.jpg);}
  @media (min-width: $screen-md-min) { background-image: url(../img/1200/RVH_MicroSiteLarge_Cody.jpg);}
  @media (min-width: $screen-lg-min) { background-image: url(../img/RVH_MicroSiteLarge_Cody.jpg);}
}

.hero-mitch{
  background-image: url(../img/480/RVH_MicroSiteLarge_Mitch_480.jpg);
  @media (min-width: $screen-xs-min) { background-image: url(../img/768/RVH_MicroSiteLarge_Mitch.jpg);} 
  @media (min-width: $screen-sm-min) { background-image: url(../img/992/RVH_MicroSiteLarge_Mitch.jpg);}
  @media (min-width: $screen-md-min) { background-image: url(../img/1200/RVH_MicroSiteLarge_Mitch.jpg);}
  @media (min-width: $screen-lg-min) { background-image: url(../img/RVH_MicroSiteLarge_Mitch.jpg);}
}

.hero-nolan{
  background-image: url(../img/480/RVH_MicroSiteLarge_Nolan_480.jpg);
  @media (min-width: $screen-xs-min) { background-image: url(../img/768/RVH_MicroSiteLarge_Nolan.jpg);} 
  @media (min-width: $screen-sm-min) { background-image: url(../img/992/RVH_MicroSiteLarge_Nolan.jpg);}
  @media (min-width: $screen-md-min) { background-image: url(../img/1200/RVH_MicroSiteLarge_Nolan.jpg);}
  @media (min-width: $screen-lg-min) { background-image: url(../img/RVH_MicroSiteLarge_Nolan.jpg);}
}