body {
     margin: 0;
     padding: 0;
     background-color:#eeeeee;
     font-family: Helvetica, 'Lucida Grande', Arial, sans-serif;
     line-height: 16pt;
     text-align:left !important;
     margin-top:0; margin-bottom:0; margin-right:0; margin-left:0;
     padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;
     font-family:Helvetica, 'Lucida Grande', Arial, sans-serif;
     line-height:16pt;
     text-align:left !important;
}
td{
     margin: 0px  !important;
     padding: 0px  !important;
}
 td.header {
     padding: 0px 0 0 0;
     background-color:#b6d987;
}
a { color: #004812; text-decoration:none;}
a:hover { color: #8dc63f; text-decoration:none;}

hr{
  color: #c1d72e;
  border-width: 1px;
}

img{border:none;}

 
td.mainbar p {
     font-family: Helvetica, 'Lucida Grande', Arial, sans-serif;
     font-size:10pt;
     line-height:  14pt;
     font-weight: normal;
     color: #464646;
     margin: 0 0 12px 0;
     padding: 0;
}
td.mainbar ul{
     font-family: Helvetica, 'Lucida Grande', Arial, sans-serif;
     font-size: 12px;
     font-weight: normal;
     color: #464646;
     list-style:disc}
td.footer {
     font-family: Arial;
     font-size: 11px;
     font-weight: normal;
     color: #000;
     padding: 0 0 20px 0;
}
td.footer span {
     color: #006036;
}