@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin arrow($color){ 
  display: inline-block;
  position: relative;
  margin-bottom: -89px;
  content: "";
  max-width: 78px;
  height: 46px;
  top: 100%;
  left: 50%;
  margin-left: -38px;
  border-top: 46px solid $color;
  border-left: 38px solid transparent;
  border-right: 38px solid transparent;
  border-bottom: none;
  z-index: 1;
}

/*
  This mixin sets the font size in rem's with a px fallback.
  Usage: @include font-size(16);
*/
@mixin font-size($sizeValue: 12 ){
  font-size: $sizeValue + px; //fallback for old browsers
  font-size: (0.125 * $sizeValue) + rem;
}

/*
  This mixin sets the line height in rem's with a px fallback.
  Usage:  @include line-height (16);
*/
@mixin line-height($heightValue: 12 ){
    line-height: $heightValue + px; //fallback for old browsers
    line-height: (0.125 * $heightValue) + rem;
}